[Unit]
Description=MEGASync Background Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/megasync --minimized
Restart=on-failure

[Install]
WantedBy=graphical-session.target
