//TODO: game mode, clipboard


prefer-no-csd


input {
    touchpad {
        tap
        natural-scroll
    }
}


cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 35
}


environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORM "wayland;xcb"

    LANG "en_IN.UTF-8"
    LC_ALL "en_IN.UTF-8"
    LC_CTYPE "en_IN.UTF-8"
}


layout {

    default-column-width { proportion 1.0; }
    center-focused-column "on-overflow"

    gaps 0

    focus-ring {
        off
    }

    shadow {
        off
    }

}


output "eDP-1" {

    mode "1920x1080@144"
    variable-refresh-rate
    focus-at-startup

}


spawn-at-startup "sunsetr"
spawn-at-startup "swayidle"
spawn-sh-at-startup "~/scripts/screenshot_cleaner.sh"
spawn-at-startup "plasma-polkit-agent"
spawn-sh-at-startup "~/scripts/wallpaper_and_colour_scheme.sh"
spawn-sh-at-startup "sleep 3 && quickshell" // the sleep 3 is there to ensure that the colour scheme generator does its work before quickshell starts.
spawn-sh-at-startup "~/scripts/mega-watcher.sh"
spawn-sh-at-startup "~/scripts/trash_cleaner.sh"
spawn-sh-at-startup "clean-history"
spawn-sh-at-startup "sudo cachyos-rate-mirrors"
spawn-sh-at-startup "upgrade_oh_my_zsh_custom"
spawn-sh-at-startup "bongocat --watch-config"
spawn-sh-at-startup "alsactl restore -f ~/.asound.state" // fix mic issues


hotkey-overlay {
    skip-at-startup
}


screenshot-path "~/Pictures/Screenshots/%Y-%m-%d-at-%H-%M.png"


switch-events {
    lid-close { spawn "swaylock" "--color" "000000" "--show-failed-attempts" "--clock" "--indicator"; }
}

animations {
    slowdown 1.2
}


gestures {
    hot-corners {
        off
    }
}


binds {

    Mod+Left { focus-column-or-monitor-left; }
    Mod+Right { focus-column-or-monitor-right; }

    Mod+K repeat=false { close-window; }

    Alt+Space { spawn-sh "~/.config/rofi/launcher.sh || pkill rofi"; }

    Mod+C repeat=false { spawn "zeditor"; }
    Mod+Z repeat=false { spawn "zen-browser"; }
    Mod+F repeat=false { spawn "thunar"; }
    Mod+T repeat=false { spawn "kitty"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp allow-when-locked=true cooldown-ms=500 { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true cooldown-ms=500 { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Shift+S repeat=false { screenshot; }

    Mod+Ctrl+Delete allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { spawn-sh "wlogout"; }

    Mod+Escape repeat=false { spawn-sh "swaylock --color 000000 --show-failed-attempts --clock --indicator"; }

}


window-rule {
    opacity 0.85
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="dev.zed.Zed"
    open-fullscreen true
}

window-rule {
    match title="YouTube"
    opacity 1.0
}

window-rule {
    match title="Picture-in-Picture"
    opacity 1.0
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=32 y=32 relative-to="bottom-right"
}

blur {
    passes 3
    offset 1
}
